.time-line
  .upper-time-line
    .upper-time-line__user-name

    .upper-time-line__date
    %p
      = "2018/09/20 07.19.13"
  .lower-message
    %p
      = "ユーザー投稿"
    .lower-time-line__user-name
