.message
  .top-message
    .top-message__user-name
      = message.user.name
    .top-message__date
      = message.created_at
  .bottom-meesage
    - if message.body.present?
      %p.bottom-message__content
        = message.body
    = image_tag message.image.url, class: 'bottom-message__image' if message.image.present?
