.header {
    box-sizing: border-box;
    height: 30px;
    padding: 0 40px;
}
    .chat-sidebar_top {
      float: left;
      &__user-name {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        // @include flexbox;
        color: $light_gray;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;

        }
      }
    }
  }

// .right-header {
//       border: 1px solid $light_blue;
//       color: $light_blue;
//       float: right;
//       height: 40px;
//       line-height: 40px;
//       margin-top: 28px;
//       padding: 0 20px;
//       &__button {
//         color: $light_blue;
//         text-decoration: none;
//       }
//     }
  .time-line {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    .upper-message  {
        display: flex;
        &__user-name {
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
    }
      .lower-time-line {
        margin-top: 10px;
        &__user-name {
          color: $black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
  }
  // .chat-content_create {
  //   background-color: #DDDDDD;
  //   box-sizing: border-box;
  //   height: 90px;
  //   padding: 20px 50px 20px 40px;
  //   .new_message {
  //     border: none;
  //     float: left;
  //     height: 50px;
  //     width: calc(100% - 150px);

  //     &__text {
  //       background-color: $white;
  //       float: left;
  //       height: 50px;
  //       padding-right: 10px;
  //     &__image {
  //       font-size: 40px;
  //       line-height: 50px;
  //     }
  //     .hidden {
  //       display: none;
  //     }
  //   }
  // }
  //   &__submit {
  //     background-color: black;
  //     border: none;
  //     color: $white;
  //     float: right;
  //     font-size: 16px;
  //     height: 50px;
  //     margin-left: 15px;
  //     padding: 0 30px;
  //   }
  // }
}
