.chat{
  height: 100%;
  margin:0;
  padding: 0;

  .chat-content {
    width: calc(100vw - 300px);
    height: 100vh;
    background: white;
    float: right;
    position: relative;

    &_head{
      height: 110px;
      border: thin solid $border_color;
      padding-left: 40px;
      position: relative;
      background: white;

      &__name {
        font-size: 20px;
        color: $current_group_color;
        padding-top: 35px;
      }

      &__member-name {
        font-size: 12px;
        color: $current_group_mem_color;
        padding-top: 15px;
      }

      &__edit {
        font-size: 16px;
        color: $btn_color;
        text-align: center;
        line-height: 40px;
        height: 40px;
        padding: 0 20px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 40px;
        margin: auto;
        border: thin solid $btn_color;
      }
    }


  .messages {
    box-sizing: border-box;
    overflow:scroll;
    padding-top: 46px;
    padding-left: 40px;
    height: calc(100vh - 200px);

    .message {
      .top-message {
        display: flex;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .bottom-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
}
