$btn_color: #38AEF0;
$side_bar_top_color: #253141;
$side_bar_content_color: #2f3e51;
$border_color: #eeeeee;
$text_color: #FFFFFF;
$current_group_color: #333333;
$current_group_mem_color: #999999;
$current_group_name_color: #434A54;
$content_back_color: #AAAAAA;
$content_input_bar_color: #C0C0C0;
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
