.nitification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }
  .alert {
    background: $alert_orange;
    color: $white;
    text-align: center;
  }
}
