.chat-sidebar {
  width: 300px;
  height: 100vh;
  float: left;
  background: $side_bar_content_color;

  &_top {
    height: 110px;
    background: $side_bar_top_color;
    &__user-name {
      color: $text_color;
      font-size: 16px;
      font-weight: bold;
      padding-top: 35px;
      padding-left: 20px;

      &__icon {
        padding-right: 20px;
        float: right;
        line-height: 25px;
        text-decoration: none;
      }
    }
  }
    &_group {
      height:100%;
      background: $side_bar_content_color;
      &__name {
        font-size: 15px;
        color: $text_color;
        padding-left:20px;
        padding-top:20px;
      }
      &__text {
        font-size: 11px;
        color: $text_color;
        padding-left: 20px;
        padding-top: 5px;
      }
    }
  }

